h1#about
{
    font-family: Verdana;
    text-decoration-style: wavy;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}


.activeAbout{
    opacity: 1;
    transition: all 3s; }
.hiddenAbout {
    opacity: 0;
    transition: all 1s;
}


.wrapperAboutMe {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }

  @media only screen and  (min-width: 1025px){
.galleryAboutMe1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
  }

  @media only screen and  (min-width: 1025px){
.galleryAboutMe2 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}
  }


  @media only screen and (max-width: 1024px) and (min-width: 200px){
    .galleryAboutMe1 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 6;
    }
      }
    
      @media only screen and (max-width: 1024px) and (min-width: 200px){
        .galleryAboutMe2 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 13;
    }
      }