h1
{
    font-family: Verdana;
    text-decoration-style: wavy;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}


.activeOpinion{
    opacity: 1;
    transition: all 3s; }
.hiddenOpinion {
    opacity: 0;
    transition: all 1s;
}

.borderPx
{
    display: flex;

}

.wrapperRate {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }
  
  @media only screen and  (min-width: 1025px){
  .galleryRate1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  }
  
  @media only screen and  (min-width: 1025px){
  .galleryRate2 {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 8;
  }
  }
  
  
  @media only screen and (max-width: 1024px) and (min-width: 200px){
    .galleryRate1 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 2;
    }
      }
    
      @media only screen and (max-width: 1024px) and (min-width: 200px){
        .galleryRate2 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 11;
        grid-row-end: 14;
    }
      }
  