

h1#name
{
    font-family: Verdana;
    text-decoration-style: wavy;
    margin-left : 80px;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}


img#me
{

    max-width: 70%;
    max-height: 80%;
    margin-left: 80px;
    margin-top: 25px;

}

img#java
{
    
    margin-top: 30px;
}

div#text-photo
{
    width: auto;
    height: 550px;
    display: flex;
    
}

div#java
{
    margin-top: 100px;
    margin-left: 50px;
    
}



.activeHome {
    opacity: 1;
    transition: all 3s; }
.hiddenHome {
    opacity: 0;
    transition: all 1s;
}

