
@media only screen and  (min-width: 1025px){
h1#name
{
    font-family: Verdana;
    text-decoration-style: wavy;
    margin-left : 80px;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}
}

@media only screen and (max-width: 1024px) and (min-width: 400px){
h1#name
{
    font-family: Verdana;
    text-decoration-style: wavy;
    color: cadetblue;
    text-shadow: 2px 2px 5px blanchedalmond;
    font-size: 30px

    
}
}



.activeHome {
    opacity: 1;
    transition: all 3s; }
.hiddenHome {
    opacity: 0;
    transition: all 1s;
}

.wrapperHome {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }

  .galleryHome__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


@media only screen and  (min-width: 1025px){
.galleryHome1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
}
}

@media only screen and (min-width: 1025px){
.galleryHome2 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
}

@media only screen and  (min-width: 1025px){
.galleryHome3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 8;
}
}

@media only screen and (max-width: 1024px) and (min-width: 400px){
.galleryHome1 {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 9;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 400px){
.galleryHome2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 400px){
.galleryHome3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
    }
}