h1
{
    font-family: Verdana;
    text-decoration-style: wavy;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}


.activeContact{
    opacity: 1;
    transition: all 3s; }
.hiddenContact {
    opacity: 0;
    transition: all 1s;
}


.wrapperContact {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }

  .galleryContact__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media only screen and  (min-width: 1025px){
.galleryContact1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
}

@media only screen and  (min-width: 1025px){
.galleryContact2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
}

@media only screen and  (min-width: 1025px){
.galleryContact3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
}

@media only screen and  (min-width: 1025px){
.galleryContact4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
}

@media only screen and  (min-width: 1025px){
.galleryContact5 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
}

@media only screen and (max-width: 1024px) and (min-width: 200px){
.galleryContact1 {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
}
}

@media only screen and (max-width: 1024px) and (min-width: 200px){
.galleryContact2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 11;
}
}

@media only screen and (max-width: 1024px) and (min-width: 200px){
.galleryContact3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 11;
}
}

@media only screen and (max-width: 1024px) and (min-width: 200px){
.galleryContact4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 14;
}
}

@media only screen and (max-width: 1024px) and (min-width: 200px){
.galleryContact5 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 13;
}
}


.img__wrap {
    position: relative;
  }
  
  .img__description {
    position: absolute;
    color: black;
    visibility: hidden;
    opacity: 0;
    text-shadow: 2px 2px 5px blanchedalmond;
    font-family: Verdana;
    text-decoration-style: wavy;
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
    text-shadow: 2px 2px 5px blanchedalmond;
    font-family: Verdana;
    text-decoration-style: wavy;
    
  }
