h1
{
    font-family: Verdana;
    text-decoration-style: wavy;
    color: cadetblue;
    font-size: 3rem;
    text-shadow: 2px 2px 5px blanchedalmond;
    
}

.activeProjects{
    opacity: 1;
    transition: all 3s; }
.hiddenProjects {
    opacity: 0;
    transition: all 1s;
}